<!DOCTYPE html>
<html>
<head>
  <title>IoT Hub Web App</title>
</head>
<body>

<h1>Temperature :</h1>
<div id="temperature-display"></div>

<h1>Water Pump :</h1>
<div id="water-pump-status"><strong> pump is :</strong></div>
<br><br>
<button  id="water-pump-on">Turn On</button>
<button id="water-pump-off">Turn Off</button>

<script src="/javascripts/bundle.js">
</script>
</body>
</html>
